ScanerI2C.*
!*.ioc
EWARM/*.dep
EWARM/*CustomSfr.sfr
EWARM/*/
!EWARM/Project.eww
!EWARM/*.icf
!EWARM/*.ewd
!EWARM/*.ewp

*.tmp
*.bak
*.old

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store
